---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/ui/link/link.svelte";
---

<BaseLayout pageTitle="Who am I?">
  <div class="flex flex-col justify-center px-5 md:pl-14 pt-nav h-screen">
    <h1 class="font-bold text-3xl">Who I am?</h1>

    <div
      class="pt-5 prose-invert text-left prose-p:mb-4 md:text-lg md:w-6/12 md:prose-p:px-0"
    >
      <p>
        I'm Felipe, but most of the time I go by the alias “sazz”. I’ve been
        building software applications since 2017, and had my first contact with
        programming when I was 8. Everything that I know today its self-taught.
      </p>
      <p>
        Over the years, I had the chance to develop groundbreaking and modern
        solutions for content creators and brands such as <Link
          to="https://brunoph.com.br"
        >
          {"Bruno Playhard"}
        </Link>, <Link
          to="https://www.youtube.com/channel/UC-yA8YhrAgpFp4aVHRaNyMA"
        >
          {"Core das Antigas"}
        </Link>, <Link to="https://discord.gg/yGSMRTJWYP">Sagaz Club</Link> and
        many others.
      </p>
      <p>
        I'm also responsible for most software projects at the <Link
          to="projects/onucolegial"
        >
          {"ONU Colegial"}
        </Link> and <Link to="projects/onuintercolegial">
          {"ONU Intercolegial"}
        </Link> student event, working on projects such as applications aimed at
        marketing and event organization.
      </p>
    </div>
  </div>
</BaseLayout>
